{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    {%  include('profile/menu_profile.html.twig') %}
    <main class="container">
        {%  include('logo.html.twig') %}

        <div class="text-center mb-5">
            <h1>Mon profil&nbsp;!</h1>
            <img class="img-fluid" src="{{ asset('build/images/profile.png') }}" alt="mon profil">
        </div>

        {{ form(profileForm) }}

    </main>
{% endblock %}

{% block footer %}
    {%  include('footer.html.twig') %}
{% endblock %}
