{% extends 'base.html.twig' %}

{% block title %}Edit Gamer{% endblock %}

{% block body %}
    <h1>Edit Gamer</h1>

    {{ include('gamer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gamer_index') }}">back to list</a>

    {{ include('gamer/_delete_form.html.twig') }}
{% endblock %}
