{% extends 'base.html.twig' %}

{% block title %}Contact{%  endblock %}

{% block body %}
    <main class="container">

        <div class="text-center mt-5">
            <a href="/"><img src="{{ asset('build/images/logo.png') }}" alt="logo montournoi" width="106px" title="Retour vers l'accueil"></a>
        </div>

        <div class="text-center m-5">
            <h1>Contactez-nous !</h1>
        </div>

        <form>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="name">Votre nom</label>
                <div class="col-md-9">
                    <input type="text" class="form-control form-control-lg" id="name" name="name" placeholder="Prénom Nom" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email">Votre adresse email</label>
                <div class="col-md-9">
                    <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="nom@exemple.com" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="objet">Votre objet</label>
                <div class="col-md-9">
                    <input type="objet" class="form-control form-control-lg" id="objet" name="objet" placeholder="objet...">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="message">Votre message</label>
                <div class="col-md-9">
                    <textarea class="form-control form-control-lg" id="message" name="message" rows="4" placeholder="Bonjour," required></textarea>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <button type="submit" class="lobster btn btn-perso5 mb-2 col align-self-center">Envoyer</button>
                </div>
            </div>
        </form>
    </main>
{% endblock %}