{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{%  endblock %}

{% block body %}
    <main class="container">
        {%  include('profile/menu_profile.html.twig') %}
        {%  include('logo.html.twig') %}

        <div class="text-center mb-5">
            <h1>Tableau de bord</h1>
        </div>

        <div class="text-center">
            <img class="img-fluid" src="{{ asset('build/images/dashboard.png') }}" alt="dashboard" width="800px">
        </div>

        {% for tournament in app.user.tournaments %}
            {{ tournament.name }}
        {% endfor %}

    </main>
{% endblock %}

{% block footer %}
    {%  include('footer.html.twig') %}
{% endblock %}