@import "normalize";
@import "~bootstrap/scss/bootstrap";
@import "~cookie-consent-box/dist/cookie-consent-box";

@font-face {
    font-family: "Lobster";
    src: url("/build/fonts/Lobster/Lobster-Regular.ttf")  format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("/build/fonts/Roboto/Roboto-Regular.ttf")  format("truetype");
}

body {
  background-color: white;
  font-family: Roboto;
  a, a:visited, a:link {
    color: #907;
  }
  a:hover {
    color: #609;
  }
  a.btn {
    color: white;
  }
}

h1 {
  font-size: 2.5em;
  font-family: Lobster;
}

.lobster {
    font-family: Lobster;
}

.roboto {
     font-family: Roboto;
 }

.menu {
  font-size: 1.5em;
}

footer {
  color: white;
  a, a:visited, a:link {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #BDF;
  }
}

.btn {
  border-radius: 16px;
}

/* profile dropdown */
.profile {
  min-width: 120px;
  max-width: 148px;
}
.dropbtn {
  padding: 4px;
  cursor: pointer;
  img {
    max-width: 100px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f5f5f5;
  min-width: 120px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 4px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #CCC;}
.dropdown:hover .dropdown-content {display: block;}
//.dropdown:hover .dropbtn {background-color: #3e8e41;}