@import "normalize";
@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: "Lobster";
    src: url("/build/fonts/Lobster/Lobster-Regular.ttf")  format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("/build/fonts/Roboto/Roboto-Regular.ttf")  format("truetype");
}

body {
  background-color: white;
  font-family: Roboto;
  a, a:visited, a:link {
    color: #907;
  }
  a:hover {
    color: #609;
  }
  a.btn {
    color: white;
  }
  margin-bottom: 140px;
}

h1 {
  font-size: 2.5em;
  font-family: Lobster;
}

.lobster {
    font-family: Lobster;
}

.roboto {
     font-family: Roboto;
 }

.menu {
  font-size: 1.5em;
}

footer {
  color: white;
  a, a:visited, a:link {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #BDF;
  }
}

.btn {
  border-radius: 16px;
}