{% extends 'base.html.twig' %}

{% block title %}Accueil montournoi.org{%  endblock %}

{% block body %}
    <main class="container text-center">

        {%  include('logo.html.twig') %}

        <div class="row mb-5">
            <div class="col">
                <h1 class="lobster">Choisissez un tournoi...</h1>
            </div>
        </div>

        <form class="form row justify-content-center" action="{{ path('show_tournament') }}" method="GET" target="_blank">
            <div class="form-group col-sm-8">
                <select class="form-control" name="id">
                        {%  for tournament in tournaments %}
                            <option value="{{ tournament.id }}">{{ tournament.name }} ({{ tournament.dateBegin|date("d/m/Y") }})</option>
                        {%  endfor %}
                </select>
            </div>
            <div class="form-group col-sm-4">
                <button type="submit" class="btn btn-perso5 col">Suivre ce tournoi</button>
            </div>
        </form>

    </main>
{% endblock %}

{% block footer %}
    {%  include('footer.html.twig') %}
{% endblock %}