{% extends 'base.html.twig' %}

{% block title %}Accueil montournoi.org{%  endblock %}

{% block body %}
    <main class="container text-center">

        {%  include('logo.html.twig') %}

        <div class="row mb-5">
            <div class="col">
                <h1 class="lobster">Choisissez un tournoi&nbsp;à suivre...</h1>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col">
                <form action="{{ path('show_tournament') }}" method="GET" target="_blank">
                    <select name="id" id="st">
                            <option value="">Choisissez un tournoi public...</option>
                        {%  for tournament in tournaments %}
                            <option value="{{ tournament.id }}">{{ tournament.name }}</option>
                        {%  endfor %}
                    </select>
                    <button type="submit" class="btn btn-lg btn-perso5 ml-3 " onclick="if(document.getElementById('st').value == '') return false;">Suivre ce tournoi</button>
                </form>
            </div>
        </div>

    </main>
{% endblock %}

{% block footer %}
    {%  include('footer.html.twig') %}
{% endblock %}