{% extends 'base.html.twig' %}

{% block title %}Accueil{%  endblock %}

{% block body %}
    <h1 class="lobster">Montournoi</h1>
    <img src="{{ asset('build/images/logo-titre.png') }}" alt="logo montournoi" width="200px">
    {% block content %}{% endblock %}
{% endblock %}