<div class="text-right">
    <form method="post" action="{{ path('delete_tournoi', {'id': tournament.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce tournoi ?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tournament.id) }}">
        <button class="btn btn-danger">Supprimer</button>
    </form>
</div>
